<img src="https://pbs.twimg.com/profile_images/727278046646915072/cb8U-gL6.jpg" alt="Angular"/>

<div class="form-group">
  <label for="name">Todo:</label>
  <input class="form-control" id="name" type="text" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()"/>
</div>

<div class="form-group" style="padding-left: 20px;" *ngFor="let todo of todos">
  <input type="checkbox" class="form-check-input" [(ngModel)]="todo.completed">
  <label class="form-check-label checkall-wrap" [ngClass]="todo.completed ? 'completed' : ''">{{todo.title}} <span (click)="removeTodo(todo.id)">&times;</span></label>
</div>
<hr>

<div class="row">
  <div class="col-6 form-check" style="padding-left: 35px;">
    <input type="checkbox" class="form-check-input" id="checkAll" (change)="checkAll()" [(ngModel)]="todoCompleted">
    <label class="form-check-label" for="checkAll">Check all</label>
  </div>

  <div class="col-6 text-right">
    <span>{{getItems()}} items left</span>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
    <button type="text" class="btn mr-2" style="border: 1px solid #ccc">All</button>
    <button type="text" class="btn mr-2" style="border: 1px solid #ccc">Active</button>
    <button type="text" class="btn" style="border: 1px solid #ccc">Completed</button>
  </div>

  <div class="col-6 text-right">
    <button type="text" class="btn" style="border: 1px solid #ccc">Clear completed</button>
  </div>
</div>
