<img src="https://pbs.twimg.com/profile_images/727278046646915072/cb8U-gL6.jpg" alt="Angular"/>

<div class="form-group">
  <label for="name">Todo:</label>
  <input class="form-control" id="name" type="text" placeholder="What are you doing today?" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()"/>
</div>

<div class="form-group" style="padding-left: 20px;">
  <app-todo-list style="display: block;" *ngFor="let todo of todoList.filterTodo()" [todo]="todo"></app-todo-list>
</div>
<hr>

<div class="row">
  <div class="col-6 form-check" style="padding-left: 35px;">
    <input type="checkbox" class="form-check-input" id="checkAll" (change)="checkAll()" [(ngModel)]="todoCompleted">
    <label class="form-check-label" for="checkAll">Check all</label>
  </div>

  <div class="col-6 text-right">
    <span>{{todoList.getItems()}} items left</span>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
    <button type="text" class="btn mr-2 filter-btn" (click)="todoList.filter='all'">All</button>
    <button type="text" class="btn mr-2 filter-btn" (click)="todoList.filter='active'">Active</button>
    <button type="text" class="btn filter-btn" (click)="todoList.filter='completed'">Completed</button>
  </div>

  <div class="col-6 text-right">
    <button type="text" class="btn filter-btn" (click)="clearCompleted()">Clear completed</button>
  </div>
</div>
